@model FakturaZakupu

<div class="kanc-fieldset-left">
    <div class="editor-label">
        @Html.Label("Numer faktury")
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.NumerFaktury)
        @Html.ValidationMessageFor(model => model.NumerFaktury)
    </div>

    <div class="editor-label">
        @Html.Label("Własny numer faktury")
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.WlasnyNumerFaktury)
        @Html.ValidationMessageFor(model => model.WlasnyNumerFaktury)
    </div>

    <div class="editor-label">
        @Html.Label("Data faktury")
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.DataFaktury)
        @Html.ValidationMessageFor(model => model.DataFaktury)
    </div>

    <div class="editor-label">
        @Html.Label("Kontrahent")
    </div>
    <div class="editor-field">
        @Html.LookupFor(o => o.IdKontrahenta, controller: "Kontrahenci", multiselect: false, chooseText: "Wybierz", cancelText: "Anuluj", title: "Wybierz kontrahenta", paging: true)
        @Html.ValidationMessageFor(model => model.IdKontrahenta)
    </div>

    <div class="editor-label">
        @Html.Label("Sposób płatności")
    </div>
    <div class="editor-field">
        @Html.LookupFor(o => o.IdSposobuPlatnosci, controller: "SposobyPlatnosci", multiselect: false, chooseText: "Wybierz", cancelText: "Anuluj", title: "Wybierz sposób płatności", paging: true)
        @Html.ValidationMessageFor(model => model.IdSposobuPlatnosci)
    </div>
</div>
<div class="kanc-fieldset-right">
    <div class="editor-label">
        @Html.Label("Termin płatności")
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.TerminPlatnosci)
        <div class="kanc-date-tracker">
            <span>przesuń o:</span>
            @Html.TextBox("TerminPlatnosciTracker", 0, new { @class = "kanc-date-tracker" })
            @*<a class="ui-state-default ui-corner-all" href="#"><span class="ui-icon ui-icon-plusthick"></span></a>*@

            <div class="ui-state-default ui-corner-all kanc-date-tracker-button" title="Przesuń termin płatności o tyle dni"><span class="ui-icon ui-icon-plusthick"></span></div>
        </div>
         @Html.ValidationMessageFor(model => model.TerminPlatnosci)
    </div>

    <div class="editor-label">
        @Html.Label("Data zakupu")
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.DataZakupu)
        @Html.ValidationMessageFor(model => model.DataZakupu)
    </div>

    <div class="editor-label">
        @Html.Label("Faktura zaliczkowa")
    </div>
    <div class="editor-field">
        <input type="checkbox" name="CheckCzyZaliczka" id="CheckCzyZaliczka" checked="@Model.CzyZaliczka" />
        <label for="CheckCzyZaliczka" title=".ui-icon-circle-check">
            <span class="ui-icon ui-icon-check"></span>
        </label>
        @Html.ValidationMessageFor(model => model.CzyZaliczka)
    </div>

    <div class="editor-label">
        @Html.Label("Kwota zapłacona")
    </div>
    <div class="editor-field">
        @*@Html.TextBoxFor(model => model.KwotaZaplacona)*@
        @* Wylaczam walidacje HTMLowa tego pola - walidacja typu number "is a mess" *@
        <input id="KwotaZaplacona" class="text-box single-line ui-menu ui-widget ui-widget-content ui-corner-all read-only" readonly type="text" value="@Model.KwotaZaplacona" name="KwotaZaplacona">
        @Html.ValidationMessageFor(model => model.KwotaZaplacona)
    </div>

    @* KAZ nie chce miec opisu faktury *@
    @* KAZ jednak chce miec opis faktury - rozmowa telefoniczna z p. Agniszka 2015-01-23 (powod: opis na analizie kosztow na inwestycjach) *@
    @* A jednak nie :-) - w dniu 2015-01-26 po rozmowie z p. Agnieszka, zmienilem report analiza kosztow na inwestycjach aby prezentowal dane z dokladnoscia do pozycji faktury
        i z pozycji biore opis do tego raportu. Podobno p. Agnieszka wprowadzajac pozycje sama sumuje je po stawkach vat, wiec nie bedzie wielu rekordow na raporcie.
     *@
    @*<div class="editor-label">
        @Html.Label("Opis faktury")
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Opis)
        @Html.ValidationMessageFor(model => model.Opis)
    </div>*@
</div>