@model FakturaSprzedazy

@{
    ViewBag.Title = "Edycja faktury sprzedaży";
}

@section featured {
    @Html.Partial("_FeaturedSection", new FeaturedSectionModel() { Title = String.Format("Edycja faktury \"{0}\".", Model.NumerFaktury), SubTitle = "Edytuj fakturę sprzedaży." })
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Faktura sprzedaży</legend>

        @Html.HiddenFor(model => model.Id)

        @Html.Partial("_FakturaSprzedazy", Model)

        <hr />
        <h3 style="display:initial">Pozycje faktury</h3><span class="kanc-hide-button" data-target-id="pozycje_faktury_sprzedazy">pokaż/ukryj</span>
        <div id="pozycje_faktury_sprzedazy">
        @Html.Partial("_GridPozycjeFakturySprzedazy", new ReadOnlyAbleModel<FakturaSprzedazy>(Model, false, "kanc_pozycja_faktury_sprzedazy_edit_dialog", "pozycje_faktury_sprzedazy"))        
        </div>
        <hr />
        <p>
            <input type="submit" value="Zapisz" />
        </p>
    </fieldset>
}

@* Wyciagniete tutaj (z _GridPozycjeFakturySprzedazy.cshtml), bo <form> nie moze byc w <form> *@
@*@Html.Partial("_PozycjaFakturySprzedazy.cshtml", new AjaxEditModel<FakturaSprzedazy>(
        Model, false, "FakturySprzedazy", "NowaPozycjaFakturySprzedazy", "kanc_faktury_sprzedazy_pozycje", InsertionMode.InsertAfter)
    )*@

<div id="kanc_pozycja_faktury_sprzedazy_edit_dialog"></div>

<div>
    @Html.ActionLink("Powrót do kartoteki", "Kartoteka") @Html.ActionLink("Drukuj", "Drukuj", new { @id = Model.Id })
    @if (Model.IdFakturyKorygujacej.HasValue)
    {
        @:&nbsp;@Html.ActionLink("Wyświetl fakturę korygującą", "Edytuj", new { @id = Model.IdFakturyKorygujacej.Value })
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
