@model ZaplataFakturySprzedazy

@{
    ViewBag.Title = "Usuwanie zapłaty faktury sprzedaży";
}

@section featured {
    @Html.Partial("_FeaturedSection", new FeaturedSectionModel() { Title = String.Format("Usuwanie zapłaty z dnia {0} dla faktury sprzedaży \"{0}\"", Model.DataZaplaty.ToShortDateString(), Model.FakturaSprzedazy != null ? Model.FakturaSprzedazy.NumerFaktury : ""), SubTitle = "Usuń fakturę zakupu." })
}
<h3>Czy na pewno chcesz usunąć zapłatę faktury sprzedaży?</h3>
<h4>@String.Format("Zapłaty z dnia {0} dla faktury sprzedaży \"{1}\" na kwotę {2}", Model.DataZaplaty.ToShortDateString(), Model.FakturaSprzedazy != null ? Model.FakturaSprzedazy.NumerFaktury : "", Model.Kwota)</h4>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        @Html.HiddenFor(model => model.Id)

        <input type="submit" value="Usuń" />
    </p>
}

@Html.ActionLink("Powrót do kartoteki", "Zaplaty", new { @idFakturyZakupu = Model.IdFakturySprzedazy })