@model WyborFirmyModel

@{
    ViewBag.Title = "Wybór Firmy";
}

@section featured {
    @Html.Partial("_FeaturedSection", new FeaturedSectionModel() { Title = "Wybór firmy.", SubTitle = "Wskaż firmę w konktekście której wprowadzane będą dokumenty." })
}

<table class="grid">
    <thead>
        <tr class="ui-widget-header">
            <th class="ui-widget">Nazwa skrócona</th>
            <th class="ui-widget">Nazwa pełna</th>
            <th class="ui-widget">Operacje</th>
        </tr>
    </thead>
    <tbody>

    @foreach(Firma f in Model.GridSettings.Query.Result)
    {
        <tr>
            <td>@f.NazwaSkrocona</td>
            <td>@f.NazwaPelna</td>
            <td>
                @using (Html.BeginForm(FormMethod.Post))
                {
                    <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                    <input type="hidden" name="id" value="@f.Id" />
                    <input type="submit" value="Wybierz" />
                }
            </td>
        </tr>
    }

    </tbody>

    @if(Model.GridSettings.PageCount > 1)
    {
    <tfoot>
        <tr>
            <td colspan="3">@Html.Pagination()</td>
        </tr>
    </tfoot>
    }
</table>
