@model AjaxEditModel<KompensataPowiazanie>

<div id="kanc_pozycja_kompensaty_dialog" class="kanc-ajax-dialog-delete-submit" data-dialog-width="900" data-dialog-height="300" title="Czy chcesz usunąć pozycję?">
    @using (Ajax.BeginForm(Model.Action, Model.Controller,
        new AjaxOptions { HttpMethod = "Post", UpdateTargetId = Model.GridElementId, InsertionMode = Model.InsertionMode }
        )
    )
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <h3>Czy na pewno chcesz usunąć pozycję kompensaty?</h3>

        @Html.Hidden("Id", Model.Model.Id)
        @Html.Hidden("DialogElementId", Model.DialogElementId)
        @Html.Hidden("GridElementId", Model.GridElementId)
    }
</div>
