@model GridSettings<Kompensata>

@{
    ViewBag.Title = "Kompensaty";
}

@section featured {
    @Html.Partial("_FeaturedSection", new FeaturedSectionModel() { Title = "Kompensaty.", SubTitle = "Tutaj możesz dodawać, edytować i usuwać kompensaty." })
}

<table class="grid">
    <caption>
        <span class="caption-buttons"><a href="@Url.Action("Dodaj")" class="kanc-button"><span>Dodaj kompensatę</span></a></span>
        @Html.Partial("_Search", new FilterBoxModel("", "Slownik", new FakturySprzedazyDictionary()))
    </caption>
    <thead>
        <tr class="ui-widget-header">
            @Html.KancelariaGridSortingColumn("NumerKompensaty", "Numer kompensaty", Request.Url.AbsolutePath, Request.Url.Query)
            <th class="ui-widget">Kontrahent</th>
            <th class="ui-widget">Kwota</th>
            <th class="ui-widget grid-operations-cell">Operacje</th>
        </tr>
    </thead>
    <tbody>
    @foreach (Kompensata k in Model.Query.Result)
    {
        <tr>
            <td>@k.NumerKompensaty</td>
            <td>@k.Kontrahent.KodKontrahenta</td>
            <td>@k.KompensataPowiazanies.Sum(p => p.Kwota)</td>
            <td class="grid-operations-cell">
                <a title="Edytuj" href="@Url.Action("Edytuj", new { @id = k.Id })" class="kanc-button"><span class="ui-icon ui-icon-pencil"></span></a>
                <a title="Usuń" href="@Url.Action("Usun", new { @id = k.Id })" class="kanc-button"><span class="ui-icon ui-icon-trash"></span></a>
                <a title="Drukuj" href="@Url.Action("Drukuj", new { @id = k.Id })" class="kanc-button"><span class="ui-icon ui-icon-print"></span></a>
            </td>
        </tr>
    }
    </tbody>
    @if (Model.PageCount > 0)
    {
    <tfoot>
        <tr>
            <td colspan="4">@Html.Partial("_Pager", (IPaged)Model.Query)</td>
        </tr>
    </tfoot>
    }
</table>


