@model FilterBoxModel

@*<div class="search-panel">
    @using(Html.BeginForm())
    {
        @Html.TextBox("Search")
        <input class="button" type="submit" value="Szukaj" />
    }
</div>*@

<script type="text/javascript">
    function Szukaj(id) {
        document.getElementById(id).submit();
    }

    function switchdiv@(Model.ControlName)() {
        var selector = '#' + 'SearchDiv<%: Model.ControlName %>';
        var options = {};
        $(selector).toggle("blind", options, 500);
    }

    function SprawdzFiltr@(Model.ControlName)() {

        var search = $("#search" + @(Html.Raw(String.Format("\"{0}\"", Model.ControlName)))).val();

        href = "/" + @(Html.Raw(String.Format("\"{0}\"", ViewContext.RouteData.Values["Controller"]))) + "/" + @(Html.Raw(String.Format("\"{0}\"", Model.FilterActionName))) + "?search=" + search + @(Html.Raw(String.Format("\"&controlName={0}\"", Model.ControlName)));

        $("#filtermsg" + @(Html.Raw(String.Format("\"{0}\"", Model.ControlName)))).load(encodeURI(href),
                    function (responseText, status, req) {

                    }
                );
    }

    function UstawWartoscFiltru@(Model.ControlName)(filtr)
    {
        var val = $("#search" + @(Html.Raw(String.Format("\"{0}\"", Model.ControlName)))).val();
        $("#search" + @(Html.Raw(String.Format("\"{0}\"", Model.ControlName)))).val(val + ' ' + filtr);
        SprawdzFiltr@(Model.ControlName)();
    }

    $(document).ready(function () {
        SprawdzFiltr@(Model.ControlName)();
        $('#filter_button_@(Model.ControlName)').click(
            function() {
                switchdiv@(Model.ControlName)();
            }
        );
    });
</script>


<div class="grid-filter">
<div id="SearchDiv@(Model.ControlName)" class="filter-switchable-box" style="display:block">
    @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "SearchForm" + Model.ControlName, @class = "centerDiv" }))
        { 
        @*<div class="inline-block">
            <div class="cell">
                <div>
                    <div class="filter-question-button icon-24 pointer icon-question-hover" id="btnShowDictionaryInfo<%= Model.ControlName %>"></div>
                    <div class="filter-applied-box centerWidth" id="filtermsg<%= Model.ControlName %>">
                    </div>
                </div>
                <div class="row">
                    <!-- Html.TextBox(String.Format("search{0}", Model.ControlName), null, new { size = "50", oninput = "SprawdzFiltr" + Model.ControlName + "()" }) -->
                    <input type="text" name="search@(Model.ControlName)" size="50" oninput="SprawdzFiltr@(Model.ControlName)()" />
                </div>
            </div>
            <div class="cell bottom">
                <input title="Szukaj" type="submit" class="cell icon-48 pointer icon-search-hover" value="" />
            </div>
        </div>*@
        
        <input type="text" name="search@(Model.ControlName)" size="50" oninput="SprawdzFiltr@(Model.ControlName)()" />
        <input class="button" type="submit" value="Szukaj" />
        }
    <br />
</div>
</div>
