@model GridSettings<SposobPlatnosci>

@{
    ViewBag.Title = "Sposoby płatności";
}

@section featured {
    @Html.Partial("_FeaturedSection", new FeaturedSectionModel() { Title = "Sposoby płatności.", SubTitle = "Tutaj możesz dodawać, edytować i usuwać sposoby płatności." })
}

<table class="grid">
    <caption>
        <span class="caption-buttons"><a href="@Url.Action("Dodaj")" class="kanc-button"><span>Dodaj sposób płatności</span></a></span>
    </caption>
    <thead>
        <tr class="ui-widget-header">
            @Html.KancelariaGridSortingColumn("KodSposobuPlatnosci", "Kod sposobu płatności", Request.Url.AbsolutePath, Request.Url.Query)
            @Html.KancelariaGridSortingColumn("OpisSposobuPlatnosci", "Opis sposobu płatności", Request.Url.AbsolutePath, Request.Url.Query)
            <th class="ui-widget grid-operations-cell">Operacje</th>
        </tr>
    </thead>
    <tbody>
    @foreach (SposobPlatnosci sp in Model.Query.Result)
    {
        <tr>
            <td @(sp.CzyDomyslny.HasValue && sp.CzyDomyslny.Value ? "class=default" : "")>@sp.KodSposobuPlatnosci</td>
            <td>@sp.OpisSposobuPlatnosci</td>
            <td class="grid-operations-cell">
                <a title="Edytuj" href="@Url.Action("Edytuj", new { @id = sp.Id })" class="kanc-button"><span class="ui-icon ui-icon-pencil"></span></a>
                <a title="Usuń" href="@Url.Action("Usun", new { @id = sp.Id })" class="kanc-button"><span class="ui-icon ui-icon-trash"></span></a>
                <a title="Ustaw domyślny" href="@Url.Action("UstawDomyslny", new { @id = sp.Id, @returnUrl = Request.Url.ToString() })" class="kanc-button"><span class="ui-icon ui-icon-star"></span></a>
            </td>
        </tr>
    }
    </tbody>
    @if (Model.PageCount > 0)
    {
    <tfoot>
        <tr>
            <td colspan="3">@Html.Partial("_Pager", (IPaged)Model.Query)</td>
        </tr>
    </tfoot>
    }
</table>


